# Draft local projects
Draft/

# IDE files
.vscode/

# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Project specific files
*.joblib

# Environment variables
.env

# Miscellaneous
chroma_db/